<div class='profile-div'>
  <% if logged_in? %>
    <h1>Welcome, <%= @user.first_name %>!</h1>
    <%= link_to "View Library Membership", ("/users/1/libraries"), {:class=>"profile-link"} %>
  <% else %>
    <h1>Please log in to view profile</h1>
  <% end %>
</div>
