<div class='libraries-div'>
</div>

<ul class='library-list'>
  <% @libraries.each do |library| %>
  <li><%= link_to "#{library.name}", library_path(library) %></li>
  <% end %>
</ul>

<%= link_to "Add Library", new_library_path %>
