/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #fff;
  color: black;
  font-family: 'Nothing You Could Do', cursive;
}

a {
  color: black;
  text-decoration: none;

}

a:hover {
  color: gray;
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  float: right;
  font-size: 19px;
}

li {
  text-align: right;
  display: inline;
  margin-right: 10px;
}

ul.library-list {
  text-align: center;
  float: none;
}

.navbar-row {
  display: list-item;
}

form.new-form {
  margin-left: 46%;
  padding-top: 60vh;
}

.login-div {
  background: url(/assets/login.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 85vh;
  margin-top: 2%;
}

.signup-div {
  background: url(/assets/signup.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 85vh;
  margin-top: 2%;
}

.users-index-div {
  background: url(/assets/the-library-club.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 85vh;
  margin-top: 2%;
}

.new-library-div {
  background: url(/assets/add-lib.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 85vh;
  margin-top: 2%;
}

.libraries-div {
  background: url(/assets/join-a-lib.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 85vh;
  margin-top: 2%;
}

.flash-msg {
  color: green;
  font-family: monospace;
  padding-right: 38vw;
  font-size: 17px;
}

.new-library-form {
  padding-top: 56vh;
  margin-left: 45vw;
}

img {
  max-width: 200px;
  border: white solid 10px;
  margin-left: 32vw;
  margin-top: 10vw;
}
