/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #001300;
  color: white;
  font-family: 'Nothing You Could Do', cursive;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  float: right;
  font-size: 19px;
}

li {
  text-align: right;
  display: inline;
  margin-right: 10px;
}

.navbar-row {
  display: list-item;
}

img {
  max-width: 100vw;
}

#new_user {
  margin-left: 45%;
}
