/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #001300;
  color: white;
  font-family: 'Nothing You Could Do', cursive;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: green;
}

ul {
  list-style: none;
  float: right;
  font-size: 19px;
}

li {
  text-align: right;
  display: inline;
  margin-right: 10px;
}

.navbar-row {
  display: list-item;
}

form.new-form {
  margin-left: 45%;
  padding-top: 57vh;
}

.login-div {
  background: url(/assets/login.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
}

.signup-div {
  background: url(/assets/signup.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
}

.users-index-div {
  background: url(/assets/the-library-club.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
}

.new-library-div {
  background: url(/assets/add-library.jpg) no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
}

.flash-msg {
  color: green;
  font-family: monospace;
  padding-right: 38vw;
}

.new-library-form {
  padding-top: 69vh;
  margin-left: 45vw;
}

img {
  max-width: 200px;
  border: white solid 10px;
}
